body {
  -webkit-font-smoothing: antialiased;
}

.earth {
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 30px);
}
.earth img {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
.earth .more-info {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0a0a0a), to(black));
  background-image: linear-gradient(to bottom, #0a0a0a, black);
  border-radius: 1em;
  color: #fff;
  opacity: 0;
  padding: 1em;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  width: 400px;
}
.earth .more-info h1 {
  margin: 0 0 1em;
  text-align: right;
}
.earth .more-info h1, .earth .more-info li {
  font-family: 'Roboto Mono', monospace;
  opacity: 0;
}

.moon-container {
  position: absolute;
  top: calc(50% - 240px);
  left: calc(50% - 0px);
}

.moon {
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
  background: none;
  width: 20px;
  height: 20px;
  pointer-events: none;
  -webkit-transform-origin: 20px;
          transform-origin: 20px;
}
.moon img {
  -webkit-transform: translateX(45px) translateY(45px);
          transform: translateX(45px) translateY(45px);
  width: 12.5px;
}


* {
  -webkit-transition: all 2s cubic-bezier(0, 1.5, 0.3, 1);
  transition: all 2s cubic-bezier(0, 1.5, 0.3, 1);
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
