/* Typography */

html {
	font-family: 'Roboto Mono', monospace;
}
p {
	margin-bottom: 25px;
	
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}


main > .intro {
	font-family: 'Rubik', sans-serif;
	font-size: 2.75em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.7rem;
}


main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}
/* TOOLTIP */

.tooltip {
  position: relative;
  overflow: hidden;
}
.tooltip:hover {
    overflow: visible;
}
    .tooltip-content {
      opacity: 1;
    }
 
  
  .tooltip-content {
    background: white;
    box-shadow: 0 5px 25px 5px;
    box-sizing: border-box;
    color: black;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 1px;
    max-width: 200px;
    min-width: 145px;
    padding: 1em;
    position: absolute;
    opacity: 0;
    transition: all .3s ease;
}
    .tooltip-content::after {
      background: blue;
      content: "";
      height: 10px;
      position: absolute;
      transform: rotate(45deg);
      width: 10px;
    }
 
  
  
    tooltip-content.top.tooltip-content {
      bottom: calc(100% + 1.5em);
      left: 50%;
      transform: translateX(-50%);
}
      tooltip-content.top.tooltip-content::after {
        bottom: -5px;
        left: 50%;
        margin-left: -5px;
      }
  
  
  &.bottom {
    .tooltip-content {
      bottom: calc(-100% - 1.8em);
      left: 50%;
      transform: translateX(-50%);
      &::after {
        top: -5px;
      }
    }
  }
  
  &.right {
    .tooltip-content {
      left: calc(100% + 1.5em);
      top: 50%;
      transform: translateY(-50%);
      &::after {
        left: -5px;
        margin-top: -5px;
        top: 50%;
      }
    }
  }
  &.left {
    .tooltip-content {
      right: calc(100% + 1.5em);
      top: 50%;
      transform: translateY(-50%);
      &::after {
        right: -5px;
        margin-top: -5px;
        top: 50%;
      }
    }
  }
  
}
