/* Theme */

main {
	color: #252a34;
	background: linear-gradient(to bottom right, #eaeaea, white);
}

.icons-social a {
	color: #252a34;
}
.icons-social a:hover {
	color: #ff2e63;
}

.icons-social a svg path{
	fill: #252a34;
}
