// Theme Styles
main {
    color: #252a34;
    background: linear-gradient(to right, #93F9B9, #1D976C);
  }
  
  .icons-social a {
    color: #252a34;
  }
  
  .icons-social a:hover {
    color: #ff2e63;
  }
  
  .icons-social a svg path {
    fill: #252a34;
  }
  